@tailwind base;
@tailwind components;
@tailwind utilities;


@layer primereact, tailwind-base, tailwind-utilities;

@layer primereact {
  @tailwind base;
}
@layer components {

  /* padding All */
   .p30 {
    @apply p-[30px] lg:p-[30px] xl:p-[40px] 3xl:p-[2.604vw];
  }
   .p20 {
    @apply p-[15px] lg:p-[15px] xl:p-[20px] 3xl:p-[1.042vw];
  }
  .px300 {
    @apply px-[10px] lg:px-[140px] xl:px-[150px] 3xl:px-[15.625vw];
  }
 .py10 {
    @apply py-[10px] lg:py-[10px] xl:py-[10px] 3xl:py-[0.521vw];
  }
 .py20 {
    @apply py-[15px] lg:py-[15px] xl:py-[20px] 3xl:py-[1.042vw];
  }
  .py50 {
    @apply py-[30px] lg:py-[30px] xl:py-[40px] 3xl:py-[2.604vw];
  }
  .pb20 {
    @apply pb-[20px] lg:pb-[20px] xl:pb-[20px] 3xl:pb-[1.042vw];
  }
  
  .pb30 {
    @apply pb-[20px] lg:pb-[30px] xl:pb-[30px] 3xl:pb-[1.563vw];
  }

    .px20 {
    @apply px-[15px] lg:px-[15px] xl:px-[20px] 3xl:px-[1.042vw];
  }

  .px40 {
    @apply px-[20px] lg:px-[30px] xl:px-[40px] 3xl:px-[2.083vw];
  }
  
 
  /* padding All */
  /* margin All */
.mt20 {
    @apply mt-[15px] lg:mt-[20px] xl:mt-[20px] 3xl:mt-[1.042vw];
  }
.my30 {
    @apply my-[15px] lg:my-[30px] xl:my-[30px] 3xl:my-[1.563vw];
  }
  /* margin All end */

 .font12 {
    @apply text-[10px] lg:text-[10px] xl:text-[12px] 3xl:text-[0.625vw];
  }
 .font14 {
    @apply text-[12px] lg:text-[12px] xl:text-[14px] 3xl:text-[0.729vw];
  }
   .font15 {
    @apply text-[12px] lg:text-[14px] xl:text-[14px] 3xl:text-[0.781vw];
  }

   .font20 {
    @apply text-[20px] lg:text-[18px] xl:text-[20px] 3xl:text-[1.146vw];
  }
  .font18 {
    @apply text-[16px] lg:text-[16px] xl:text-[18px] 3xl:text-[0.938vw];
  }
    .font16 {
    @apply text-[12px] lg:text-[16px] xl:text-[16px] 3xl:text-[0.833vw];
  }
  
   .font26 {
    @apply text-[16px] lg:text-[20px] xl:text-[24px] 3xl:text-[1.354vw];
  }
   .font30 {
    @apply text-[20px] lg:text-[25px] xl:text-[30px] 3xl:text-[1.563vw];
  }
  .font40 {
    @apply text-[20px] lg:text-[30px] xl:text-[35px] 3xl:text-[2.083vw];
  }

}

@layer base {
  :root {
    --bgcolor-primary: #af251c; 
    
    
  }
  }

  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body 
{
  margin: 0;
  color:#1B212F;
 
}
[class^="asw-"],
[class*=" asw-"] {
  font-size: 15px !important;
}
a 
{
  text-decoration: none;
}
.bg_login
{
  background: url(../../public/images/silder1.jpg);
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
}

/* .simbol-bg:before
{  content: "";
    height: 100%;
    position: absolute;
   background: url(../../public/images/simbol.png);
  background-repeat: no-repeat;
  height: 50%;
  width: 50%;
  overflow: hidden;

 
} */
/* website css */


/* .header-top:before 
{
      content: "";
    height: 100%;
    position: absolute;
    width: 32%;
    background: #ff7350;
    top: 0;
    z-index: -1;
    left: -25px;
    transform: skew(30deg);
} */
.goog-logo-link,
.goog-te-gadget span {
  /* display: none !important; */
  display: flex;
}

.goog-te-gadget {
  font-size: 14px !important;
  color: #333;
}

.goog-te-combo {
  padding: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
.asw-menu-btn
{
  border: 3px solid white !important;
    outline: 5px solid var(--bgcolor-primary) !important;
}
#asw-language
{
  display: none !important;
}
.style-2::-webkit-scrollbar-track
{
	
	border-radius: 8px;
	background-color: #F5F5F5;
}

.style-2::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

.style-2::-webkit-scrollbar-thumb
{
	border-radius: 8px;
	background-color: var(--bgcolor-primary);
}

.title h1 {
 
  letter-spacing: 0;
  line-height: 1em;
  padding-bottom: 15px;
  position: relative;
}
.title h1:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 55px;
  background-color: var(--bgcolor-primary);
}
.title h1:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  height: 1px;
  width: 95%;
  max-width: 255px;
  background-color: var(--bgcolor-primary);
}
.my-button {
  position: relative;
  overflow: hidden;
  padding: 10px 20px;
  background: #9c160c;
  color: white;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease-out;
  animation: bouncerino-out 0.5s;
}

.my-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0%;
  height: 0%;
  background: #ffffff22;
  transition: 0.5s ease-out;
  border-radius: 100%;
  opacity: 0;
  z-index: 0;
}

.my-button:hover::before {
  width: 500px;
  height: 500px;
  opacity: 1;
  border-radius: 0;
  animation: opacity-in 0.7s forwards ease-out;
}

.my-button:hover {
  animation: bouncerino-in 0.5s forwards alternate ease-out;
}

.my-button span {
  position: relative;
  z-index: 1;
}

/* Keyframes */
@keyframes bouncerino-in {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.09);
  }
  50% {
    transform: scale(1.075);
  }
  70% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1.075);
  }
}

@keyframes bouncerino-out {
  0% {
    transform: scale(1.075);
  }
  100% {
    transform: scale(1.0);
  }
}

@keyframes opacity-in {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.about_us_bg 
{
 background-image: url(/images/about-us-bg.png);
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 30%;
  
}

.arrow-link {
    display: flex;
    color: var(--bgcolor-primary);
    background-color: transparent;
  
    transition: all .3s ease;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
    letter-spacing: 1px;
    font-size: 14px;
}

.arrow-link > .arrow {
    width: 8px;
    height: 8px;
    border-right: 2px solid var(--bgcolor-primary);
    border-bottom: 2px solid var(--bgcolor-primary);
    position: relative;
    transform: rotate(-45deg);
    margin-left: 3px;
    transition: all .3s ease;
}

.arrow-link > .arrow::before {
    display: block;
    background-color: #D95E39;
    width: 5px;
    transform-origin: bottom right;
    height: 2px;
    position: absolute;
    opacity: 0;
    bottom: calc(-2px / 2);
    transform: rotate(45deg);
    transition: all .3s ease;
    content: "";
    right: 0;
}

.arrow-link:hover > .arrow {
    transform: rotate(-45deg) translate(4px, 4px);
    border-color: #D95E39;
}

.arrow-link:hover > .arrow::before {
    opacity: 1;
    width: 8px;
}

.arrow-link:hover {
    color: #D95E39;
}

.summay-bg 
{

  background: rgba(0, 0, 0, 0.185) url(/images/summary_bg.jpg) repeat scroll 0 0;
      color: #ffffff;
      background-size: cover;
      background-position: top;
      background-repeat: no-repeat;
      position: relative;
      padding-top: 100px;
      padding-bottom: 70px;
}
.summay-bg:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.418);
}


/* 13. hover-border-3 */
.box 
{
  position: relative;

}
.box:hover::after, .box:hover::before{
    transform: scale(1, 1);
}
.box::after, .box::before{
   content: '';
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    transition: all 0.5s
}
.box::after{
    border-right: 2px solid  #fef7ae;
    border-left: 2px solid  #fef7ae;
    transform: scale(1, 0);
}
.box::before{
    border-top: 2px solid  #fef7ae;
    border-bottom: 2px solid  #fef7ae;
    transform: scale(0, 1);
}

.quicklink ul li a:hover
{ 
  color:var(--bgcolor-primary);
}

.custom_silder_banner:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    z-index: 1;
}

/* GalleriaAdvancedDemo.css */

/* Styles for indicator text */
.galleria-demo .custom-indicator-galleria .indicator-text {
    color: #e9ecef;
    cursor: pointer;
}

.galleria-demo .custom-indicator-galleria .p-highlight .indicator-text {
    color: var(--bgcolor-primary);
}

/* Fullscreen custom galleria layout */
.galleria-demo .custom-galleria.fullscreen {
    display: flex;
    flex-direction: column;
}

.galleria-demo .custom-galleria.fullscreen .p-galleria-content {
    flex-grow: 1;
    justify-content: center;
}

/* Galleria content container */
.galleria-demo .custom-galleria .p-galleria-content {
    position: relative;
}

/* Thumbnails position */
.galleria-demo .custom-galleria .p-galleria-thumbnail-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.galleria-demo .custom-galleria .p-galleria-thumbnail-items-container {
    width: 100%;
}

/* Custom galleria footer */
.galleria-demo .custom-galleria .custom-galleria-footer {
    display: flex;
    align-items: center;
    background-color: rgb(217 127 122);
    color: #ffffff;
}

.galleria-demo .custom-galleria .custom-galleria-footer > button {
    background-color: transparent;
    color: #ffffff;
    border: 0 none;
    border-radius: 0;
    margin: .2rem 0;
}

.galleria-demo .custom-galleria .custom-galleria-footer > button.fullscreen-button {
    margin-left: auto;
}

.galleria-demo .custom-galleria .custom-galleria-footer > button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Title container text */
.galleria-demo .custom-galleria .title-container > span {
    font-size: .9rem;
    padding-left: .829rem;
}

.galleria-demo .custom-galleria .title-container > span.title {
    font-weight: bold;
}
.custom-galleria.fullscreen {
  max-width: 100% !important;
}
/* website css end */


/* /left/ */
.left_menu ul a 
{
  text-decoration: none;
  font-size: 14px;
  color: #4c525f;
}
.left_menu ul li a:hover
{
  color: white !important;
}
.leftbar-bg
{
  background: #0272A7;
background: linear-gradient(90deg,rgba(2, 114, 167, 1) 0%, rgba(33, 136, 184, 1) 50%, rgba(15, 136, 191, 1) 100%);
}
 .custom-shadow{

box-shadow: 2px 0px 6px 0px rgba(0, 0, 0, 0.12);
 }
 .card-shadow 
 {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px -1px rgba(0, 0, 0, 0.10);
 }
 .p-inputtext 
 {
  padding:5px 12px;
  font-size: 14px;
  border-radius: 0;
 } 
input::placeholder, textarea::placeholder
 {
  font-size: 14px;
  color:#c7c7c7;
  font-weight: normal;
 }
 .cancelbtn 
 {
  border: 1px solid var(--Interface-Stroke-soft, #E5E7EB);
background: linear-gradient(180deg, var(--Button-Base-Default---1, #FEFEFE) 0%, var(--button-base-default-hover-2, #F6F8FA) 100%);
color:#3C4146;

 }
/* custum search satart  */
.custSearch .p-inputtext {
  font-size: 14px;
      padding: 7px 10px 10px 40px;
  border-radius: 0px;
  font-weight: 400;
  color: #171A1F;
}
.custSearch .p-input-icon-left>i,
  .custSearch .p-input-icon-right>i,
  .custSearch .p-input-icon-left>svg,
  .custSearch .p-input-icon-right>svg,
  .custSearch .p-input-icon-left>.p-input-prefix,
  .custSearch .p-input-icon-right>.p-input-suffix {
    margin-top: -0.6rem;
  }
  .custSearch .p-input-icon-left>.p-inputtext {
  padding-left: 2.1rem;
}
/* ***************** end********************* */
.action-shadow-table {
  box-shadow: -4px 0 6px -1px rgba(0, 0, 0, 0.1); /* Left shadow for right-aligned frozen column */
  z-index: 1; /* Ensure it's above other cells */
  background-color: #fff; /* Required to show shadow properly */
}

/***************************** data table ****************************************/
/* Data Table start */
.custTable.p-datatable .p-sortable-column .p-column-title,.custTable .p-datatable .p-sortable-column .p-sortable-column-icon, .p-datatable .p-sortable-column .p-sortable-column-badge{
  font-weight: 500;
}
.custTable.p-datatable .p-datatable-thead > tr > th{
  font-weight: 500;  
}
.custTable.p-datatable .p-datatable-tbody>tr>td {
  color: #494E5F;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  padding: 0.429vw 1.042vw;
  border-bottom: 1px solid #CDD3DE;
}


.custTable.p-datatable.p-datatable-thead .pi svg {
  font-size: 12px;
  width: 10px;
  height: 10px;
}

.custTable.p-datatable .p-sortable-column-icon {
   width: 10px;
  height: 10px;
}

.custTable.p-datatable .p-datatable-tbody>tr:nth-child(even) {
  background: #f9f9f9;
}

.custTable.p-datatable .p-datatable-thead>tr>th {
     border-bottom: 1px solid #CDD3DE;
    background: #EDEEF1;
    color: #000;
    font-size: 14px;
    padding: 0.681vw 1vw;
    /* font-family: 'inter', sans-serif; */
    font-weight: 700;
    line-height: 100%;
}


.custTable.p-datatable .p-column-header-content {
  width: 100%;
  justify-content: normal;
  position: relative;
}

.action-shadow-table {
  box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1);
}

.custTable .p-datatable-tbody .p-checkbox .p-checkbox-box {
  border: 1px solid #ced4da;
  background: #ffffff;
  /* width: 18px;
  height: 18px; */
  color: #495057;
  border-radius: 4px;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

.custTable .p-datatable-tbody .p-checkbox .p-checkbox-box .p-checkbox-icon {
  transition-duration: 0.2s;
  color: #ffffff;
  font-size: 8px;
}

.custTable .p-datatable-thead .p-checkbox .p-checkbox-box {
  border: 1px solid #ced4da;
  background: #ffffff;
  color: #495057;
  border-radius: 4px;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

.custTable .p-datatable-thead .p-checkbox .p-checkbox-box .p-checkbox-icon {
  transition-duration: 0.2s;
  color: #ffffff;
  font-size: 8px;
}


/***************************** data table end ****************************************/

.p-button.p-button-icon-only 
{
      padding: 5px 12px;
}
.p-calendar-w-btn-right .p-datepicker-trigger
{
  border-radius: 0;
}
.p-calendar .p-button 
{
          background: var(--bgcolor-primary);
    border-color: var(--bgcolor-primary);
}

.sun-editor 
{
 font-family: "Roboto", sans-serif !important;
}
@layer utilities {
  .animate-marquee {
    animation: marquee 20s linear infinite;
  }

  .pause {
    animation-play-state: paused;
  }

  @keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }
}
.slick-dots {
  position: absolute;
  /* top: 50%; */
  right: 2% !important;
  /* transform: translateY(-50%); */
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: right;
  text-align: right !important;
  bottom: 5% !important;

  padding: 10px;
}

.slick-dots ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.slick-dots li {
  margin: 10px 0;
}

.slick-dots li button {
  font-size: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--bgcolor-primary)!important;
  opacity: 0.5;
  border: none;
  transition: all 0.3s ease;
}
.slick-dots li.slick-active button:before 
{
      color: #fff !important;
}
.slick-dots li.slick-active button {
  opacity: 1;
  transform: scale(1.4);
  background-color: var(--bgcolor-primary) !important;
}
