@tailwind base;
@tailwind components;
@tailwind utilities;


@layer primereact, tailwind-base, tailwind-utilities;

@layer primereact {
  @tailwind base;
}
@layer components {

  /* padding All */
  .px300 {
    @apply px-[10px] lg:px-[200px] xl:px-[200px] 3xl:px-[15.625vw];
  }
  /* padding All */

   .font15 {
    @apply font-[12px] lg:font-[14px] xl:font-[14px] 3xl:font-[0.781vw];
  }
   .font20 {
    @apply text-[20px] lg:text-[18px] xl:text-[20px] 3xl:text-[1.146vw];
  }
   .font26 {
    @apply text-[16px] lg:text-[20px] xl:text-[24px] 3xl:text-[1.354vw];
  }

}

@layer base {
  :root {
    --bgcolor-primary: #af251c; 
    
    
  }
  }

  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body 
{
  margin: 0;
}
a 
{
  text-decoration: none;
}
.bg_login
{
  background: url(../../public/images/login_img.jpg);
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
}
/* website css */
.about_us_bg 
{
 background-image: url(/images/about-us-bg.png);
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 30%;
  
}
/* website css end */



/* /left/ */
.left_menu ul a 
{
  text-decoration: none;
  font-size: 14px;
  color: #4c525f;
}
.left_menu ul li a:hover
{
  color: white !important;
}
.leftbar-bg
{
  background: #0272A7;
background: linear-gradient(90deg,rgba(2, 114, 167, 1) 0%, rgba(33, 136, 184, 1) 50%, rgba(15, 136, 191, 1) 100%);
}
 .custom-shadow{

box-shadow: 2px 0px 6px 0px rgba(0, 0, 0, 0.12);
 }
 .card-shadow 
 {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px -1px rgba(0, 0, 0, 0.10);
 }
 .p-inputtext 
 {
  padding:5px 12px;
  font-size: 14px;
  border-radius: 0;
 } 
input::placeholder, textarea::placeholder
 {
  font-size: 14px;
  color:#c7c7c7;
  font-weight: normal;
 }
 .cancelbtn 
 {
  border: 1px solid var(--Interface-Stroke-soft, #E5E7EB);
background: linear-gradient(180deg, var(--Button-Base-Default---1, #FEFEFE) 0%, var(--button-base-default-hover-2, #F6F8FA) 100%);
color:#3C4146;

 }
/* custum search satart  */
.custSearch .p-inputtext {
  font-size: 14px;
      padding: 7px 10px 10px 40px;
  border-radius: 0px;
  font-weight: 400;
  color: #171A1F;
}
.custSearch .p-input-icon-left>i,
  .custSearch .p-input-icon-right>i,
  .custSearch .p-input-icon-left>svg,
  .custSearch .p-input-icon-right>svg,
  .custSearch .p-input-icon-left>.p-input-prefix,
  .custSearch .p-input-icon-right>.p-input-suffix {
    margin-top: -0.6rem;
  }
  .custSearch .p-input-icon-left>.p-inputtext {
  padding-left: 2.1rem;
}
/* ***************** end********************* */
.action-shadow-table {
  box-shadow: -4px 0 6px -1px rgba(0, 0, 0, 0.1); /* Left shadow for right-aligned frozen column */
  z-index: 1; /* Ensure it's above other cells */
  background-color: #fff; /* Required to show shadow properly */
}

/***************************** data table ****************************************/
/* Data Table start */
.custTable.p-datatable .p-sortable-column .p-column-title,.custTable .p-datatable .p-sortable-column .p-sortable-column-icon, .p-datatable .p-sortable-column .p-sortable-column-badge{
  font-weight: 500;
}
.custTable.p-datatable .p-datatable-thead > tr > th{
  font-weight: 500;  
}
.custTable.p-datatable .p-datatable-tbody>tr>td {
  color: #494E5F;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  padding: 0.429vw 1.042vw;
  border-bottom: 1px solid #CDD3DE;
}


.custTable.p-datatable.p-datatable-thead .pi svg {
  font-size: 12px;
  width: 10px;
  height: 10px;
}

.custTable.p-datatable .p-sortable-column-icon {
   width: 10px;
  height: 10px;
}

.custTable.p-datatable .p-datatable-tbody>tr:nth-child(even) {
  background: #f9f9f9;
}

.custTable.p-datatable .p-datatable-thead>tr>th {
     border-bottom: 1px solid #CDD3DE;
    background: #EDEEF1;
    color: #000;
    font-size: 14px;
    padding: 0.681vw 1vw;
    /* font-family: 'inter', sans-serif; */
    font-weight: 700;
    line-height: 100%;
}


.custTable.p-datatable .p-column-header-content {
  width: 100%;
  justify-content: normal;
  position: relative;
}

.action-shadow-table {
  box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1);
}

.custTable .p-datatable-tbody .p-checkbox .p-checkbox-box {
  border: 1px solid #ced4da;
  background: #ffffff;
  /* width: 18px;
  height: 18px; */
  color: #495057;
  border-radius: 4px;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

.custTable .p-datatable-tbody .p-checkbox .p-checkbox-box .p-checkbox-icon {
  transition-duration: 0.2s;
  color: #ffffff;
  font-size: 8px;
}

.custTable .p-datatable-thead .p-checkbox .p-checkbox-box {
  border: 1px solid #ced4da;
  background: #ffffff;
  color: #495057;
  border-radius: 4px;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

.custTable .p-datatable-thead .p-checkbox .p-checkbox-box .p-checkbox-icon {
  transition-duration: 0.2s;
  color: #ffffff;
  font-size: 8px;
}


/***************************** data table end ****************************************/

.p-button.p-button-icon-only 
{
      padding: 5px 12px;
}
.p-calendar-w-btn-right .p-datepicker-trigger
{
  border-radius: 0;
}
.p-calendar .p-button 
{
          background: var(--bgcolor-primary);
    border-color: var(--bgcolor-primary);
}

.sun-editor 
{
 font-family: "Roboto", sans-serif !important;
}
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 45s linear infinite;
}

.pause {
  animation-play-state: paused;
}
.slick-dots {
  position: absolute;
  /* top: 50%; */
  right: 2% !important;
  /* transform: translateY(-50%); */
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: right;
  text-align: right !important;
  bottom: 5% !important;

  padding: 10px;
}

.slick-dots ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.slick-dots li {
  margin: 10px 0;
}

.slick-dots li button {
  font-size: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--bgcolor-primary)!important;
  opacity: 0.5;
  border: none;
  transition: all 0.3s ease;
}
.slick-dots li.slick-active button:before 
{
      color: #fff !important;
}
.slick-dots li.slick-active button {
  opacity: 1;
  transform: scale(1.4);
  background-color: var(--bgcolor-primary) !important;
}
