@tailwind base;
@tailwind components;
@tailwind utilities;
@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}
.bg_login
{
  background: url(../../public/images/login_img.jpg);
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
}